<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Files</title>
</head>
<body>
    <h1>Update Files</h1>
    <form action="/update" method="post">
        <label for="paragraph">Paragraph:</label>
        <input type="text" id="paragraph" name="paragraph"><br>
        
        <label for="og_title">OG Title:</label>
        <input type="text" id="og_title" name="og_title"><br>
        
        <label for="og_description">OG Description:</label>
        <input type="text" id="og_description" name="og_description"><br>
        
        <label for="page_title">Page Title:</label>
        <input type="text" id="page_title" name="page_title"><br>
        
        <label for="heading">Heading:</label>
        <input type="text" id="heading" name="heading"><br>
        
        <label for="end_point">End Point:</label>
        <input type="number" id="end_point" name="end_point"><br>
        
        <label for="select_values_count">Select Values Count:</label>
        <input type="number" id="select_values_count" name="select_values_count"><br>

        <input type="submit" value="Update Files">
    </form>
</body>
</html>
